@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
.bodyCenter{
margin-inline: 8vw 8vw;
text-align: center;
}
.nav-links {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  width: 100%;
}
.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 5rem 10rem;
}



.main1 {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  row-gap: 20px;
  max-width: 50vw;
  margin-left: 3rem;
  margin-top: 7rem;

}
.firstHalf {
  font-size: 3rem;
  font-weight: 600;
}


.thirdhalf {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
}
.whatsapp-container {
  width: 14rem;
  height: 3rem;
  border-radius: 5px;
  border: 0;
  font-weight: 500;
  background-color: #25c966;
  color: white;
  transition-duration: 0.2s;
}

.whatsapp-container:hover {
  background-color: white;
  color: #25c966;
  box-shadow: 0px 0px 10px;
}
.whatsapp-container:active {
  box-shadow: 0px 0px 100px;
  transform: translate(5px, 5px);
}

.call-container {
  width: 14rem;
  height: 3rem;
  border-radius: 5px;
  border: 0;
  font-weight: 500;
  background-color: #4285f4;
  color: white;
  transition-duration: 0.2s;
}

.call-container:hover {
  background-color: white;
  color: #4285f4;
  box-shadow: 0px 0px 10px;
}

.call-container:active {
  box-shadow: 0px 0px 100px;
  transform: translate(5px, 5px);
}

.call-container a {
  text-decoration: none;
  color: inherit; /* Inherit color from the parent .call-container */
}
.call-container a:hover {
  color: #4285f4;
}


.mail-container {
  width: 14rem;
  height: 3rem;
  border-radius: 5px;
  border: 0;
  font-weight: 500;
  background-color: white;
  color: grey;
  transition-duration: 0.2s;
}
.mail-container:hover {
  background-color: rgb(202, 201, 201);
  color: black;
  box-shadow: 0px 0px q0px;
}
.mail-container:active {
  box-shadow: 0px 0px 100px white;
  transform: translate(5px, 5px);
}
.mail-container a {
  text-decoration: none;
  color: inherit; /* Inherit color from the parent .mail-container */
}
.mail-container a:hover {
  color: #4285f4;
}
.main2  {
  max-width: 40vw;
  background-color: #cdcdcd;
}
.main2 img{
  width: 100%;
}

.content{
  margin-bottom: 10rem;
}
.content h2{
font-size: xxx-large;
font-weight: 600;
margin-block: 2rem;
}
.content p{
  font-size: x-large;
  font-weight: 500;
  margin-block: 2rem;
}
.content{

}


.services{
  margin-block: 5rem;
}
.services h2{
  font-size: xxx-large;
  margin-bottom: 3rem;
}
.serviceSection{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.services-list{
  display: flex;
  flex-direction: row;
  padding: 60px;
  gap: 1rem;
  justify-content: space-around;
}
.service-card{
  /* padding: 1rem; */
  width: 20vw;
  border-radius: 5px;
  border: 1px solid #000000 ;
  box-shadow: 2px 10px 10px grey;
  transition: all .3s ease-in-out;
}
.service-card img{
  max-width: 100%;
  border-radius: 5px;
}
.service-card p{
  font-size: large;
  text-align: center;
  padding: 20px;
}




.whyUs{
  display: flex;
  flex-direction:row ;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin-block: 5rem 10rem;
}
.whyUsHeading{
  font-size: xxx-large;
  margin-top: 5rem;

}
.box{
  width: 20vw;
  background-color: #f9f9f9;
  color: #606060;
  border-radius: 5px;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  line-height: 1.7rem;
}
.box img{
  width: 50%;
  margin: 2rem;
}
.box h3{
  color: black;
  margin: 2rem;
  font-weight: 00;
  font-size: x-large;
}
.box:hover{
    transform: translate(0px, -10px);
}


footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  background-color: rgb(242, 242, 242);
  color: #000000;
  padding: 5rem;
}


.footerPart{
  display: flex;
  justify-content: space-around;
  height: auto;
  text-align: left;
  padding-block: 3rem;

}
.footerPart li{
  list-style-type: none;
  margin: 1rem;
}
.footerPart li a{
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}
.footerAction{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 2rem;
}
.lastfooter{
  margin: 2rem;
}