@media screen and (max-width: 992px) {
.main-nav{
    position: relative;       
    overflow: initial;
}
.nav-links{
    position: absolute;
    flex-direction: column;
    background-color: white;
    color: black;
    left: -200%;
    width: 100%;
    margin-top: 20%;
    padding-block: 50px;
    transition-duration: .3s ;
} 
.active{
    left: 0;
    top: 0;
}
.nav-toggle{
    display: block;
    margin-right: 20px;
}
  /* intro */
  .intro {
    gap: 0rem;
    margin-block: 4rem 7rem;
    /* flex-direction: column-reverse; */
  }
  .main1 {
    width: 35%;
    align-self: center;
    margin: 3rem;
  }
  .main2 {
    width: 50%;
    margin-bottom: 3rem;
  }
  .content {
    margin-bottom: 1rem;
  }
  .box {
    width: 30vw;
  }
  .question {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding-block: 6rem;
  }
  .commomQuestion {
    width: 100%;
    text-align: center;
  }
  .commomQuestion h3 {
    font-size: 2rem;
  }
  /* WhyUs */
  .whyUs {
    gap: 2rem;
    margin-block: 2rem 4rem;
  }
  .whyUsHeading {
    margin-block: 8rem;
  }
  .aboutUs {
    padding-inline: 6rem;
    padding-block: 8rem;
  }
  .whatsapp-container,
  .call-container,
  .mail-container {
    width: 10rem;
  }
}




@media screen and (max-width: 767px) {
  .intro {
    flex-direction: column-reverse;
  }
  .main1 {
    width: 90%;
  }
  .main2 {
    width: 90%;
  }
  .thirdhalf{
    width: 80%;
  }
  .serviceSection {
    gap: 2rem;
  }
  .service-card {
    width: 40%;
  }

  .question{
    padding-block: 3rem;
    padding-inline: 0rem;
  }
  .realQuestion{
    width: 75%;
  }
  .whyUsHeading {
    font-size: 2rem;
    margin-block: 5rem;
  }
  .aboutUs{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-block: 2rem;
    padding-block: 8rem;
    padding-inline: 0;
  }
  .aboutUs img{
    width: 40%;
  }
  .aboutPara{
    width: 80%;
  }
  .aboutPara p{
    margin-bottom:3rem;
  }
  footer {
    flex-direction: column;
    align-content: center;
    margin-block: 1rem;
  }
  .footerCard {
    width: 40vw;
    text-align: center;
  }
}



@media screen and (max-width: 479px) {
  .intro{
    margin-bottom: 0 ;
  }
  .main1{
    margin-bottom: 1rem;
  }
  .firstHalf{
    /* font-size: 1.5rem; */
    font-size: 2rem;
  }
  .whatsapp-container, .call-container{
    width: 100%;
  }
  .thirdhalf{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }
  .main2{
    width: 100%;
    margin-bottom:0;
  }
  .content h2 {
    /* margin-top: 0;
    margin-bottom: 1.5rem; */
    margin-block: 0 1.5rem; 
    font-size: 2rem;
    font-size: 1.8rem;
  }
  .services h2{
    font-size: 2rem;
  }
  
  .whyUs {
    flex-direction: column;
    align-items: center;
  }
  .whyUsHeading{
    font-size: 2rem;
    margin-inline: 0;
  }
  .box {
    width: 80%;
  }
  .realQuestion{
    width: 90%;
  }
  .realQuestion h3{
    font-size: 1.5rem;
  }
  .realQuestion p{
    font-size: 1rem;
  }
  .whyUsHeading{
    font-size: 1.5rem;
  }
  .aboutUs{
    padding-block: 3rem;
  }
  .learnMore{
    display: block;
    width: 100%;
    align-items: center;
  }
  footer {
    flex-direction: column;
  }
  footer .whatsapp-container, .call-container, .mail-container{
    width: 100%;
  }
}
