*{
    margin: border-box;
    padding: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
    transition: background-color 0.2s ease-in-out;
  }



  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1; /* Ensure visibility above other elements */
  }
  
  .dropdown-toggle:hover .dropdown-menu {
    display: block;
  }
  